.navbar {
  background-color: #333;
  padding: 15px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  margin: 0;
  font-size: 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

.navbar-user {
  color: white;
}

.navbar-user span {
  margin-right: 15px;
}

.btn-logout {
  background-color: #d9534f;
  color: white;
  border: 1px solid #d43f3a;
  padding: 5px 15px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #c9302c;
}
